### Objectives
The purpose of this notebook is to ensure sufficient data quality for a subsequent explortory data analysis exercise. Additionally, it serves to create helpful functions should this or a similar exercise need to be done in the future

### Package Imports & Path Setup

In [34]:
import sys
import os
from ydata_profiling import ProfileReport

In [35]:
#enabling importing of modules from utils directory

# construct path to utils directory
path_to_utils = os.path.abspath(os.path.join(os.path.dirname('__file__'), 'utils')) 

# avoid adding multiple times
if path_to_utils not in sys.path:
    sys.path.append(path_to_utils)

In [36]:
import pandas as pd
from utils.kscleaning import cleaning_pipeline

### Data Import

In [37]:
data = pd.read_excel("./data/Kickstarter.xlsx")

### Data Profiling

In [38]:
# checking size of the dataset, match of columns with data dictionary
print("Original shape:", data.shape)
print("Columns:", data.columns)

Original shape: (15474, 45)
Columns: Index(['id', 'name', 'goal', 'pledged', 'state', 'disable_communication',
       'country', 'currency', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'backers_count', 'static_usd_rate',
       'usd_pledged', 'category', 'spotlight', 'name_len', 'name_len_clean',
       'blurb_len', 'blurb_len_clean', 'deadline_weekday',
       'state_changed_at_weekday', 'created_at_weekday', 'launched_at_weekday',
       'deadline_month', 'deadline_day', 'deadline_yr', 'deadline_hr',
       'state_changed_at_month', 'state_changed_at_day', 'state_changed_at_yr',
       'state_changed_at_hr', 'created_at_month', 'created_at_day',
       'created_at_yr', 'created_at_hr', 'launched_at_month',
       'launched_at_day', 'launched_at_yr', 'launched_at_hr',
       'create_to_launch_days', 'launch_to_deadline_days',
       'launch_to_state_change_days'],
      dtype='object')

In [39]:
# validating expected data types for data profiling
data.dtypes

id                                      int64
name                                   object
goal                                  float64
pledged                               float64
state                                  object
disable_communication                    bool
country                                object
currency                               object
deadline                       datetime64[ns]
state_changed_at               datetime64[ns]
created_at                     datetime64[ns]
launched_at                    datetime64[ns]
staff_pick                               bool
backers_count                           int64
static_usd_rate                       float64
usd_pledged                           float64
category                               object
spotlight                                bool
name_len                              float64
name_len_clean                        float64
blurb_len                             float64
blurb_len_clean                       float64
deadline_weekday                       object
state_changed_at_weekday               object
created_at_weekday                     object
launched_at_weekday                    object
deadline_month                          int64
deadline_day                            int64
deadline_yr                             int64
deadline_hr                             int64
state_changed_at_month                  int64
state_changed_at_day                    int64
state_changed_at_yr                     int64
state_changed_at_hr                     int64
created_at_month                        int64
created_at_day                          int64
created_at_yr                           int64
created_at_hr                           int64
launched_at_month                       int64
launched_at_day                         int64
launched_at_yr                          int64
launched_at_hr                          int64
create_to_launch_days                   int64
launch_to_deadline_days                 int64
launch_to_state_change_days             int64
dtype: object

In [40]:
# viewing subset of records
data.head(10).style

In [7]:
# dropping ID column (no intrinsic meaning) to run data through ydata profiling
data2 = data.drop("id", axis= 1)

In [8]:
profile = ProfileReport(data2, title = "Raw Profile Report")

In [37]:
# profile.to_file(output_file="Kickstarter Raw Profile.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

**Observations**
* Generally low missingness of data. Column with most missing data is `category` at 9%. This will require imputation
* Other columns with missing values ( < 1%) are: `name`, `name_len`, `name_len_clean`, `blurb_len`, and  `blurb_len_clean`
* As `name` cannot be meaningfully imputed, it will only be tagged as missing where applicable. This tagging can help with checks to ensure there is no pattern in the missingness for future data pulls
* Where `name` is present, `name_len` can be derived and imputed
* Without access to projects blurbs, `blurb_len`, and  `blurb_len_clean` cannot be meaningfully imputed and will be left null. If these are identified as features for modeling, observations missing these attributes will be excluded. 
* For comparability, will create `usd_goal` variable similar to `usd_pledged`. This can be done using `static_usd_rate`
* Relatively high cardinality in `category` with 23 distinct in dataset. 
* The sample does not include any projects which are in progress as per the `state` column

### Data Preprocessing Exploration
Exploring cases of required action in order to inform the creation of replicable functions.

In [41]:
missing_nl = data[data['name_len'].isna()]

In [42]:
missing_nl.head().style

**Observation**
* Name length can be computed for these as a name is present
* Provided name length variables (which show number of words in the name) may be including the term (Canceled)

In [43]:
canceled = data[data['state'] == 'canceled']

In [44]:
canceled.head().style

In [45]:
# checking if similar for suspended
suspended = data[data['state'] == 'suspended']
suspended.head(10).style

In [46]:
failed = data[data['state'] == 'failed']
failed.head(10).style

In [47]:
successful = data[data['state'] == 'successful']
successful.head(10).style

**Observation**
* Noting the presence of the status 'canceled' within the name of some cases with missing name lengths, checked to see if this might be captured in other canceled projects for which `name_len` is populated. In the example of Unlost(Canceled), both `name_len`and `name_len_clean` capture length in words as 2. While the true length of the project name is better captured as 1 word. 
* This points to a miss in the provided dataset which should be addressed for meaningful EDA and model building. 
* Observing this prompted a check on other status where a similar pattern for suspended projects was observed. Preprocessing will include checking for statuses being captured within project names, and computing updated name length figures

### Data Preprocessing with Pipeline

In [48]:
cleaning_pipeline(data)

'Processed dataset saved as cleaned_data.xlsx'